<% old_score = 0 %>
<% @scores.each_with_index do |score, i| %>
  <% if signed_in? %>
    <% fat = (score['id'].to_i == current_user.id.to_i) ? 'highlight' : nil %>
  <% end %>
  <tr>
    <% if old_score != score['elo'] %>
      <td class="<%= fat %>"><%= i+1 %></td>
    <% else %>
      <td class="<%= fat %>">&nbsp;</td>
    <% end %>
    <td class="<%= fat %>"><%= score['name'] %></td>
    <td class="<%= fat %>"><%= score['count'] %></td>
    <td class="<%= fat %>"><%= score['cwords'].to_f.round(2) %> / <%= score['pwords'].to_f.round(2) %>%</td>
    <td class="<%= fat %>"><%= score['cpoints'].to_f.round(2) %> / <%= score['ppoints'].to_f.round(2) %>%</td>
    <td class="<%= fat %>"><%= score['elo'] %></td>
  </tr>
<% end %>
