<% interval_urls = [highscore_eternal_url, highscore_monthly_url, highscore_weekly_url, highscore_daily_url] %>
<div class="row">
  <ul class="nav nav-tabs col-md-12">
    <li class="<%= @highscore[:which] == 0 ? 'active' : nil %>"><%= link_to 'Ewig', interval_urls[0] %></li>
    <li class="<%= @highscore[:which] == 1 ? 'active' : nil %>"><%= link_to 'Diesen Monat', interval_urls[1] %></li>
    <li class="<%= @highscore[:which] == 2 ? 'active' : nil %>"><%= link_to 'Diese Woche', interval_urls[2] %></li>
    <li class="<%= @highscore[:which] == 3 ? 'active' : nil %>"><%= link_to 'Heute', interval_urls[3] %></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <colgroup>
        <col class="wide-counter" />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th class="text-right">Spiele</th>
          <th id="option-button" class="text-right">
            <%= render partial: 'score_option_button' %>
          </th>
        </tr>
      </thead>
      <tbody id="highscores">
        <%= render partial: 'score', collection: @highscore[:rows] %>
      </tbody>
    </table>
    <% step = 100 %>
    <% if @highscore[:count] > step %>
      <nav>
        <ul class="pagination">
          <% case @highscore[:interval] %>
          <% when 0 then link = highscore_daily_path(interval: @highscore[:interval]) %>
          <% when 1 then link = highscore_weekly_path(interval: @highscore[:interval]) %>
          <% when 2 then link = highscore_monthly_path(interval: @highscore[:interval]) %>
          <% when 3 then link = highscore_eternal_path(interval: @highscore[:interval]) %>
          <% else %>
            <% link = highscore_eternal_path(interval: @highscore[:interval]) %>
          <% end %>

          <% if @highscore[:offset] >= step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]-step}" do %>&laquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&laquo;</a></li>
          <% end %>
          <% 0.upto(@highscore[:count]/step - 1 + (@highscore[:count].modulo(step) == 0 ? 0 : 1)) do |i| %>
            <% if i*step != @highscore[:offset] %>
              <li class="active"><%= link_to((i+1).to_s, link + "&offset=#{i*step}") %></li>
            <% else %>
              <li class="disabled"><a><%= (i+1).to_s %></a></li>
            <% end %>
          <% end %>
          <% if @highscore[:offset] < @highscore[:count]-step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]+step}" do %>&raquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&raquo;</a></li>
          <% end %>

        </ul>
      </nav>
    <% end %>
  </div>
</div>
