<div class="row">
  <ul class="nav nav-tabs col-md-12">
    <li class="<%= @highscore[:interval] == 3 ? 'active' : nil %>"><%= link_to 'Heute', highscore_daily_path(category: @highscore[:category]) %></li>
    <li class="<%= @highscore[:interval] == 2 ? 'active' : nil %>"><%= link_to 'Diese Woche', highscore_weekly_path(category: @highscore[:category]) %></li>
    <li class="<%= @highscore[:interval] == 1 ? 'active' : nil %>"><%= link_to 'Diesen Monat', highscore_monthly_path(category: @highscore[:category]) %></li>
    <li class="<%= @highscore[:interval] == 0 ? 'active' : nil %>"><%= link_to 'Ewig', highscore_eternal_path(category: @highscore[:category]) %></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <br />
    <p class="alert alert-info">
      <% case @highscore[:category] %>
      <% when 0 %>
        <strong>Punkte:</strong> Der Durchschnitt der pro Spiel erreichten Punkte.
      <% when 1 %>
        <strong>Punkte %:</strong> Der Durchschnitt des pro Spiel erreichten Anteils an der Gesamtpunkzahl in Prozent.
      <% when 2 %>
        <strong>Punktperformance:</strong> Eine Kennzahl, in deren Berechnung die Schwierigkeit der absolvierten Spiele einfließt.
      <% when 3 %>
        <strong>Wörter:</strong> Der Durchschnitt der pro Spiel gefundenen Wörter.
      <% when 4 %>
        <strong>Wörter %:</strong> Der Durchschnitt des pro Spiel gefundenen Anteils aller Wörter in Prozent.
      <% else %>
        <strong>Wortperformance:</strong> Eine Kennzahl, in deren Berechnung die Schwierigkeit der absolvierten Spiele einfließt.
      <% end %>
    </p>
    <table class="table">
      <colgroup>
        <col class="wide-counter" />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th class="text-right">Spiele</th>
          <th id="option-button" class="text-right">
            <div class="dropdown pull-right">
              <% interval_urls = [highscore_eternal_url, highscore_monthly_url, highscore_weekly_url, highscore_daily_url] %>
              <% options = ['Punkte', 'Punkte %', 'Punktperformance', 'Wörter', 'Wörter %', 'Wortperformance'] %>
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                <%= options[@highscore[:category]] %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <% options.each_with_index() do |option, category| %>
                  <li role="presentation">
                    <%= link_to option, interval_urls[@highscore[:interval]] + "?category=#{category}", role: 'menuitem', tabindex: '-1' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="highscores">
        <%= render partial: 'score', collection: @highscore[:rows], locals: {current_user_id: current_user ? current_user.id.to_i : 0} %>
      </tbody>
    </table>
    <% step = 100 %>
    <% if @highscore[:count] > step %>
      <nav>
        <ul class="pagination">
          <% case @highscore[:interval] %>
          <% when 3 then link = highscore_daily_path(category: @highscore[:category]) %>
          <% when 2 then link = highscore_weekly_path(category: @highscore[:category]) %>
          <% when 1 then link = highscore_monthly_path(category: @highscore[:category]) %>
          <% when 0 then link = highscore_eternal_path(category: @highscore[:category]) %>
          <% else %>
            <% link = highscore_eternal_path(category: @highscore[:category]) %>
          <% end %>

          <% if @highscore[:offset] >= step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]-step}" do %>&laquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&laquo;</a></li>
          <% end %>
          <% 0.upto(@highscore[:count]/step - 1 + (@highscore[:count].modulo(step) == 0 ? 0 : 1)) do |i| %>
            <% if i*step != @highscore[:offset] %>
              <li class="active"><%= link_to((i+1).to_s, link + "&offset=#{i*step}") %></li>
            <% else %>
              <li class="disabled"><a><%= (i+1).to_s %></a></li>
            <% end %>
          <% end %>
          <% if @highscore[:offset] < @highscore[:count]-step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]+step}" do %>&raquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&raquo;</a></li>
          <% end %>

        </ul>
      </nav>
    <% end %>
  </div>
</div>
