<div class="row">
  <ul class="nav nav-tabs col-md-12">
    <li class="<%= @which == '0' ? 'active' : nil %>"><%= link_to 'Ewig', highscore_elo_path(which: 0) %></li>
    <li class="<%= @which == '1' ? 'active' : nil %>"><%= link_to 'Diesen Monat', highscore_elo_path(which: 1) %></li>
    <li class="<%= @which == '2' ? 'active' : nil %>"><%= link_to 'Diese Woche', highscore_elo_path(which: 2) %></li>
    <li class="<%= @which == '3' ? 'active' : nil %>"><%= link_to 'Heute', highscore_elo_path(which: 3) %></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <colgroup>
        <col />
        <col class="fifty-percent" />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th>Spiele</th>
          <th><%= highscore_type == 'cwords' ? 'Wörter' : link_to('Wörter', highscore_words_path(which: @which)) %> <%= highscore_type == 'pwords' ? '(%)' : link_to('(%)', highscore_words_percent_path(which: @which)) %></th>
          <th><%= highscore_type == 'cpoints' ? 'Punkte' : link_to('Punkte', highscore_points_path(which: @which)) %> <%= highscore_type == 'ppoints' ? '(%)' : link_to('(%)', highscore_points_percent_path(which: @which)) %></th>
          <th><%= highscore_type == 'elo' ? 'Stufe' : link_to('Stufe', highscore_elo_path(which: @which)) %></th>
        </tr>
      </thead>
      <tbody>
      <% old_score = 0 %>
      <% @scores.each_with_index do |score, i| %>
        <% if signed_in? %>
          <% fat = (score['id'].to_i == current_user.id.to_i) ? 'highlight' : nil %>
        <% end %>
        <tr>
          <% if old_score != score[highscore_type] %>
            <td class="<%= fat %>"><%= i+1 %>.</td>
            <% old_score = score[highscore_type] %>
          <% else %>
            <td class="<%= fat %>">&nbsp;</td>
          <% end %>
          <td class="<%= fat %>"><%= score['name'] %></td>
          <td class="<%= fat %>"><%= score['count'] %></td>
          <td class="<%= fat %>"><%= score['cwords'].to_f.round(1) %> (<%= score['pwords'].to_f.round(1) %>%)</td>
          <td class="<%= fat %>"><%= score['cpoints'].to_f.round(1) %> (<%= score['ppoints'].to_f.round(1) %>%)</td>
          <td class="<%= fat %>"><%= score['elo'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <!--
    <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="active"><a href="#">&raquo;</a></li>
      </ul>
    </nav>
    -->
  </div>
</div>
