<div class="row">
  <div class="col-md-12">
    <table class="table">
      <colgroup>
        <col />
        <col style="width: 50%" />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th>Spiele</th>
          <th><%= highscore_type == 'highscore_words' ? 'Wörter' : link_to('Wörter', highscore_words_path) %> <%= highscore_type == 'highscore_words_percent' ? '(%)' : link_to('(%)', highscore_words_percent_path) %></th>
          <th><%= highscore_type == 'highscore_points' ? 'Punkte' : link_to('Punkte', highscore_points_path) %> <%= highscore_type == 'highscore_points_percent' ? '(%)' : link_to('(%)', highscore_points_percent_path) %></th>
          <th><%= highscore_type == 'highscore_elo' ? 'Stufe' : link_to('Stufe', highscore_elo_path) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: highscore_type %>
      </tbody>
    </table>
  </div>
</div>
