<div class="row">
  <ul class="nav nav-tabs col-md-12">
    <li class="<%= @highscore[:which] == 0 ? 'active' : nil %>"><%= link_to 'Ewig', highscore_eternal_path %></li>
    <li class="<%= @highscore[:which] == 1 ? 'active' : nil %>"><%= link_to 'Diesen Monat', highscore_monthly_path %></li>
    <li class="<%= @highscore[:which] == 2 ? 'active' : nil %>"><%= link_to 'Diese Woche', highscore_weekly_path %></li>
    <li class="<%= @highscore[:which] == 3 ? 'active' : nil %>"><%= link_to 'Heute', highscore_daily_path %></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <colgroup>
        <col class="wide-counter" />
        <col />
        <col class="wide-score" />
        <col class="wide-score" />
      </colgroup>
      <thead>
        <tr>
          <th>Platz</th>
          <th>Name</th>
          <th>Spiele</th>
          <th>
            <% options = [['Punkte', 0], ['Punkte %', 1], ['Wörter', 2], ['Wörter %', 3]] %>
            <%= select_tag :category,
                           options_for_select(options, @highscore[:category]),
                           class: 'form-control', id: 'category', 'data-score-type' => ['eternal', 'daily', 'weekly', 'monthly'][@highscore[:interval]]%>
          </th>
        </tr>
      </thead>
      <tbody id="highscores">
        <%= render partial: 'score', collection: @highscore[:rows] %>
      </tbody>
    </table>
    <% step = 100 %>
    <% if @highscore[:count] > step %>
      <nav>
        <ul class="pagination">
          <% case @highscore[:interval] %>
          <% when 0 then link = highscore_daily_path(interval: @highscore[:interval]) %>
          <% when 1 then link = highscore_weekly_path(interval: @highscore[:interval]) %>
          <% when 2 then link = highscore_monthly_path(interval: @highscore[:interval]) %>
          <% when 3 then link = highscore_eternal_path(interval: @highscore[:interval]) %>
          <% else %>
            <% link = highscore_eternal_path(interval: @highscore[:interval]) %>
          <% end %>

          <% if @highscore[:offset] >= step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]-step}" do %>&laquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&laquo;</a></li>
          <% end %>
          <% 0.upto(@highscore[:count]/step - 1 + (@highscore[:count].modulo(step) == 0 ? 0 : 1)) do |i| %>
            <% if i*step != @highscore[:offset] %>
              <li class="active"><%= link_to((i+1).to_s, link + "&offset=#{i*step}") %></li>
            <% else %>
              <li class="disabled"><a><%= (i+1).to_s %></a></li>
            <% end %>
          <% end %>
          <% if @highscore[:offset] < @highscore[:count]-step %>
            <li class="active"><%= link_to link + "&offset=#{@highscore[:offset]+step}" do %>&raquo;<% end %></li>
          <% else %>
            <li class="disabled"><a>&raquo;</a></li>
          <% end %>

        </ul>
      </nav>
    <% end %>
  </div>
</div>
