<div class="row">
  <div class="col-md-4">
    <div class="sechzehn-color">
      <div id="field" class="sechzehn-field">
        <%= render 'layouts/show_dice' %>
      </div>
    </div>
    <% if @play %>
      <div id="guess" class="form-group" style="<%= @play ? 'display: inherit' : 'display: none' %>">
        <div class="input-group">
          <%= text_field_tag 'words', nil, id: 'words', class: "form-control" %>
          <span class="input-group-addon" id="timer">3:00</span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @play %>
    <table class="table">
      <colgroup>
        <col width="50%" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th class="right">Wörter</th>
          <th class="right">Punkte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="username"><%= @user.name %></td>
          <td id="cwords" class="right"><%= @cwords %></td>
          <td id="cpoints" class="right"><%= @cpoints %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
    <div id="guesses">
      <% @guesses.each do |guess| %>
        <% if guess[1] > 0 %>
          <span id="word_<%= guess[0] %>"> <%= guess[0] %>:<%= guess[1] %></span>
        <% else %>
          <span id="word_<%= guess[0] %>" class="sechzehn-red"> <%= guess[0] %></span>
        <% end %>
      <% end %>
    </div>
    <div id="solutionheader" class="sechzehn-hidden"><hr class="row"/><span class="noone">&nbsp;keiner&nbsp;</span> &bull; <span class="someone">&nbsp;gefunden&nbsp;</span> &bull; <span class="self">&nbsp;von&nbsp;Dir&nbsp;</span> &bull; <span class="onlyself">&nbsp;nur&nbsp;von&nbsp;Dir&nbsp;</span><hr class="row"/></div>
    <div id="solution"></div>
    <% else %>
      <%= form_for @user, html: { style: @play ? 'display: none' : 'display: inherit', id: 'form_signin' } do |f| %>
        <div class="form-group">
          <%= f.label :name, t('activerecord.models.attributes.user.name')%>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <% if params[:what] %>
          <div class="form-group">
            <%= f.label :password, t('activerecord.models.attributes.user.newpassword') %>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <%= label_tag :password, (params[:what] ? 'altes Kennwort' : 'Kennwort') %>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= password_field_tag :password, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <% if params[:what].nil? %>
            <%= f.button 'Anmelden', class: 'btn btn-primary', id: 'signin', name: 'commit', title: 'Sechzehn als registrierter Spieler spielen' %>
            <%= f.button raw('Spieler registrieren<sup><span class="glyphicon glyphicon-flash sechzehn-red"></span></sup>'), class: 'btn btn-default', id: 'signup', name: 'signup', title: 'Einen neuen Spieler registrieren' %>
            <%= f.button raw('Gast<sup><span class="glyphicon glyphicon-flash sechzehn-red"></span><span class="glyphicon glyphicon-flash sechzehn-red"></span></sup>'), class: 'btn btn-default', id: 'guest_signup', name: 'guest_signup', title: 'Sechzehn als Gast spielen' %>
            <%= link_to 'Abbrechen', root_path, id: 'cancel', class: "btn btn-default", class: 'sechzehn-hidden', title: 'Zurück zum Spiel' %>
            <p class="create-account"><sup><span class="glyphicon glyphicon-flash"></span></sup> Das erste Mal dabei? Dann einfach einen Namen und ein beliebiges Kennwort eintippen, und einen neuen Spieler registrieren.</p>
            <p class="create-account"><sup><span class="glyphicon glyphicon-flash"></span><span class="glyphicon glyphicon-flash"></span></sup> Als Gast kann man ohne Anmeldung mitspielen. Gast-Spiele werden nicht gewertet. Ideal zum trainieren.</p>
          <% else %>
            <%= f.button 'Speichern', class: 'btn btn-primary', id: 'signin', name: params['what'] == 'signup' ? 'signup' : 'signin', title: 'Geänderten Spielernamen und/oder geändertes Kennwort speichern' %>
            <%= link_to 'Abbrechen', root_path, id: 'cancel', class: "btn btn-default", title: 'Zurück zum Spiel' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @play %>
    <table class="table">
      <colgroup>
        <col />
        <col width="50%" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="right">Wörter</th>
          <th class="right">Punkte</th>
        </tr>
      </thead>
      <tbody id="score"></tbody>
    </table>
    <% else %>
      <% flash.each do |key, value| %>
        <div class="alert alert-danger"><%= render inline: value %></div>
      <% end %>
    <% end %>
  </div>
</div>
<% unless @play %>
<div class="row" itemscope itemtype="http://schema.org/WebApplication">
  <div class="col-md-4">
    <h2><span itemprop="applicationCategory">Spiel</span>idee</h2>
    <p class="text-justify">Das <span itemprop="keywords">online</span> <span itemprop="keywords">Multiplayer</span> <span itemprop="keywords">Wortspiel</span> <span class="sechzehn" itemprop="name">SECHZEHN</span> wurde durch <span itemprop="keywords">Boggle</span> inspiriert. <span itemprop="description">Finde innerhalb von drei Minuten mehr <span itemprop="keywords">deutsch</span>e Wörter in einem Quadrat mit sechzehn zufällig erzeugten Buchstaben als deine Mitspieler.</span></p>
    <p class="text-justify">Lege als Gast sofort mit der Wortsuche los, oder kämpfe als registrierter Spieler in diversen <%= link_to 'Ranglisten', highscore_elo_path, title: 'tägliche, wöchentliche, monatliche und ewige Ranglisten' %> um die besten Plätze.</p>
  </div>
  <div class="col-md-4">
    <h2>Regeln</h2>
    <p class="text-justify">Die Buchstaben müssen eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. Und in einem Wort darf kein Buchstabenfeld mehrfach genutzt werden. Es gelten alle Wörter außer:</p>
    <ul>
      <li>geografische Bezeichnungen</li>
      <li>Eigennamen und Markennamen</li>
      <li>Abkürzungen</li>
    </ul>
    <p>Ausführlichere Erklärung der Regeln und der Bedienung gibt es auf der <%= link_to 'Hilfeseite', help_path, title: 'Regeln und Bedienung kurz erklärt' %>.</p>
  </div>
  <div class="col-md-4">
    <h2>Features</h2>
    <ul>
      <li itemprop="featurelist">deutsch, über 1.1 Mio. Wörter</li>
      <li itemprop="featurelist">mit Tastatur, Maus und Finger spielbar</li>
      <li itemprop="featurelist">online im Browser spielbar</li>
      <li itemprop="featurelist">kein Zwang zur Registrierung</li>
      <li itemprop="featurelist">kostenlos</li>
    </ul>
    <p class="text-justify">Registrierte Spieler haben zudem Zugriff auf die folgenden Features:</p>
    <ul>
      <li itemprop="featurelist">Ranglisten</li>
      <li itemprop="featurelist">Berechnung der <a href="http://de.wikipedia.org/wiki/Elo-Zahl" title="Erklärung der ELO-Zahl auf Wikipedia">Spielstärke</a></li>
    </ul>
  </div>
  <div class="sechzehn-hidden" itemprop="keywords">Browserspiel </div>
  <div class="sechzehn-hidden" itemprop="countriesSupported">DE</div>
  <div class="sechzehn-hidden" itemprop="applicationSubCategory">Browserspiel</div>
  <div class="sechzehn-hidden" itemprop="browserRequirements">benötigt Javascript</div>
</div>
<% end %>
