<div class="row">
  <div class="col-md-4">
    <div class="sechzehn-color">
      <canvas id="field" data-letters="<%= @letters %>" class="sechzehn-field" width="280" height="280"></canvas>
    </div>
    <% if @play %>
      <div id="guess" class="form-group">
        <div class="input-group">
          <%= text_field_tag 'words', nil, id: 'words', class: 'form-control', autocomplete: 'off' %>
          <span class="input-group-addon" id="timer">0:00</span>
        </div>
      </div>
    <% end %>
    <% if @play %>
      <div id="chat">
        <% if registered_user? %>
          <%= form_for :chat, remote: true, url: chats_path, html: { id: 'chat_form' } do |form| %>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div id="resizable-chat">
              <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
              <%= render Chat.get_newest_messages %>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Chat&nbsp;&gt;</span>
              <%= form.text_field :chat, class: 'form-control' %>
            </div>
          <% end %>
        <% else %>
          <div class="resizable-chat">
            <p class="text-muted">Als registrieter Nutzer kannst Du mit den anderen Spielern chatten.</p>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Chat&nbsp;&gt;</span>
            <%= text_field_tag :chat, nil, disabled: true, class: 'form-control' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @play %>
    <div id="guessesdiv">
      <table class="table">
        <colgroup>
          <col />
          <col class="score" />
          <col class="score" />
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th class="right">Wörter</th>
            <th class="right">Punkte</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="username"><div class="username"><%= @user.name %></div></td>
            <td id="cwords" class="right"><%= @cwords %></td>
            <td id="cpoints" class="right"><%= @cpoints %></td>
          </tr>
          <tr>
            <td colspan="3">
              <div id="guesses">
                <% @guesses.each do |guess| %>
                  <% if guess[1] > 0 %>
                    <span id="word_<%= guess[0] %>" style="font-size: <%= 100 + (guess[1]-1)*4 %>%"> <%= guess[0] %>:<%= guess[1] %></span>
                  <% else %>
                    <span id="word_<%= guess[0] %>" class="sechzehn-red"> <%= guess[0] %></span>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="solutiondiv" class="sechzehn-hidden">
      <div style="padding-top: 8px; padding-left: 8px"><strong>Lösung</strong></div>
      <div id="solutionheader">
        <hr class="row"/>
        <div id="solutionhintdiv" class="text-center"><small>Ein Klick auf Wörter und Spieler zeigt, wer was gefunden hat.</small></div>
        <div><span class="noone">&nbsp;keiner&nbsp;</span> &bull; <span class="someone">&nbsp;gefunden&nbsp;</span> &bull; <span class="self">&nbsp;von&nbsp;Dir&nbsp;</span> &bull; <span class="onlyself">&nbsp;nur&nbsp;von&nbsp;Dir&nbsp;</span></div>
        <hr class="row"/>
      </div>
      <div id="solution"></div>
      <table class="table">
        <colgroup>
          <col />
          <col class="score" />
          <col class="score" />
        </colgroup>
        <tbody>
        <tr>
          <td><strong>Gesamt</strong></td>
          <td class="right">W: <strong id="cwords"></strong></td>
          <td class="right">P: <strong id="cpoints"></strong></td>
        </tr>
        </tbody>
      </table>
    </div>
    <% else %>
      <% flash.each do |key, value| %>
        <div class="alert alert-danger"><%= render inline: value %></div>
      <% end %>
      <%= form_for @user, html: { class: @play ? 'displaynone' : 'displayinherit', id: 'form_signin' } do |f| %>
        <div class="form-group">
          <%= f.label :name, t('activerecord.models.attributes.user.name')%>
          <div class="input-group">
            <span class="input-group-addon"><%= bootstrap_icon 'person-fill' %></span></span>
            <%= f.text_field :name, class: 'form-control', maxlength: '32' %>
          </div>
        </div>
        <% if params[:what] %>
          <div class="form-group">
            <%= f.label :password, t('activerecord.models.attributes.user.newpassword') %>
            <div class="input-group">
              <span class="input-group-addon"><%= bootstrap_icon 'lock-fill' %>></span></span>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <%= label_tag :password, (params[:what] ? 'altes Kennwort' : 'Kennwort') %>
          <div class="input-group">
            <span class="input-group-addon"><%= bootstrap_icon 'lock-fill' %></span></span>
            <%= password_field_tag :password, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <% if params[:what].nil? %>
            <%= f.button 'Anmelden', class: 'btn btn-primary', id: 'signin', name: 'commit', title: 'Sechzehn als registrierter Spieler spielen' %>
            <%= f.button raw('Spieler registrieren<sup>' + (bootstrap_icon 'star-fill', fill: 'red') + '</sup>'), class: 'btn btn-default', id: 'signup', name: 'signup', title: 'Einen neuen Spieler registrieren' %>
            <%= f.button raw('Gast<sup>' + (bootstrap_icon 'star-fill', fill: 'red') + (bootstrap_icon 'star-fill', fill: 'red') + '</sup>'), class: 'btn btn-default', id: 'guest_signup', name: 'guest_signup', title: 'Sechzehn als Gast spielen' %>
            <%= link_to 'Abbrechen', root_path, id: 'cancel', class: "btn btn-default", class: 'sechzehn-hidden', title: 'Zurück zum Spiel' %>
            <p class="create-account"><sup><%= bootstrap_icon 'star-fill' %></sup> Das erste Mal dabei? Dann einfach einen Namen und ein beliebiges Kennwort eintippen, und einen neuen Spieler registrieren.</p>
            <p class="create-account"><sup><%= bootstrap_icon 'star-fill' %><%= bootstrap_icon 'star-fill' %></sup> Als Gast kann man ohne Anmeldung mitspielen. Gast-Spiele werden nicht gewertet. Ideal zum trainieren.</p>
          <% else %>
            <%= f.button 'Speichern', class: 'btn btn-primary', id: 'signin', name: params['what'] == 'signup' ? 'signup' : 'signin', title: 'Geänderten Spielernamen und/oder geändertes Kennwort speichern' %>
            <%= link_to 'Abbrechen', root_path, id: 'cancel', class: "btn btn-default", title: 'Zurück zum Spiel' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @play %>
    <table class="table">
      <colgroup>
        <col class="counter" />
        <col />
        <col class="score" />
        <col class="score" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="right">Wörter</th>
          <th class="right">Punkte</th>
        </tr>
      </thead>
      <tbody id="score"></tbody>
    </table>
    <% else %>
      <%= render partial: 'layouts/topten', locals: { highscore_type: 'ppoints' }%>
    <% end %>
  </div>
</div>
<% unless @play %>
<div class="row" itemscope itemtype="http://schema.org/WebApplication">
  <div class="col-md-4">
    <h3 itemprop="applicationCategory">Spiel</h3>
    <p class="text-justify">Das <span itemprop="keywords">online</span> <span itemprop="keywords">Multiplayer</span> <span itemprop="keywords">Wortspiel</span> <span itemprop="name">Sechzehn</span> wurde durch <span itemprop="keywords">Boggle</span> inspiriert. <span itemprop="description">Finde innerhalb von drei Minuten mehr <span itemprop="keywords">deutsch</span>e Wörter in einem Quadrat mit sechzehn zufällig erzeugten Buchstaben als deine Mitspieler.</span></p>
    <p class="text-justify">Lege als Gast sofort mit der Wortsuche los, oder kämpfe als registrierter Spieler in täglichen, wöchentlichen, monatlichen und einer ewigen <%= link_to 'Rangliste', highscore_eternal_path, title: 'tägliche, wöchentliche, monatliche und ewige Ranglisten' %> um die besten Plätze.</p>
  </div>
  <div class="col-md-4">
    <h3>Regeln</h3>
    <p class="text-justify">Die Buchstaben müssen eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. Und in einem Wort darf kein Buchstabenfeld mehrfach genutzt werden. Es gelten alle Wörter außer:</p>
    <ul>
      <li>geografische Bezeichnungen</li>
      <li>Eigennamen und Markennamen</li>
      <li>Abkürzungen</li>
    </ul>
    <p>Ausführlichere Erklärung der Regeln und der Bedienung von Sechzehn gibt es auf der <%= link_to 'Hilfeseite', help_path, title: 'Regeln und Bedienung kurz erklärt' %>.</p>
  </div>
  <div class="col-md-4">
    <h3>Features</h3>
    <ul>
      <li itemprop="featurelist">deutsch, über 1.1 Mio. Wörter</li>
      <li itemprop="featurelist">mit Tastatur, Maus und Finger spielbar</li>
      <li itemprop="featurelist">online im Browser spielbar</li>
      <li itemprop="featurelist">kein Zwang zur Registrierung</li>
      <li itemprop="featurelist">kostenlos</li>
    </ul>
    <p class="text-justify">Registrierte Spieler haben zudem Zugriff auf die folgenden Features von Sechzehn:</p>
    <ul>
      <li itemprop="featurelist">Ranglisten</li>
      <li itemprop="featurelist">Chat</li>
    </ul>
  </div>
  <div class="sechzehn-hidden" itemprop="keywords">Browserspiel </div>
  <div class="sechzehn-hidden" itemprop="countriesSupported">DE</div>
  <div class="sechzehn-hidden" itemprop="applicationSubCategory">Browserspiel</div>
  <div class="sechzehn-hidden" itemprop="browserRequirements">benötigt Javascript</div>
</div>
<%= render partial: 'layouts/footer', locals: { vote: false }%>
<% end %>
