<div class="row">
  <div class="col-md-4">
    <div style="background-color: #e8f8f9">
      <div id="field" style="padding-top: 32px; padding-bottom: 32px; margin: auto; width: 280px">
        <%= render 'layouts/show_dice' %>
      </div>
    </div>
    <div id="guess" class="form-group" style="<%= @play ? 'display: inherit' : 'display: none' %>">
      <div class="input-group">
        <%= text_field_tag 'words', nil, id: 'words', class: "form-control" %>
        <span class="input-group-addon" id="timer">3:00</span>
      </div>
    </div>
    <%= form_for @user, html: { style: @play ? 'display: none' : 'display: inherit', id: 'signin' } do |f| %>
      <div class="form-group">
        <%= f.label :name, t('activerecord.models.attributes.user.name')%>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <% if params[:what] %>
        <div class="form-group">
          <%= f.label :password, t('activerecord.models.attributes.user.newpassword') %>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= label_tag :password, (params[:what] ? 'altes Kennwort' : 'Kennwort') %>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <% if params[:what].nil? %>
          <%= f.button 'Anmelden', class: 'btn btn-primary', id: 'signin', name: 'commit' %>
          <%= f.button raw('Neuen Spieler anlegen<sup><span class="glyphicon glyphicon-flash"></span></sup>'), class: 'btn btn-default', id: 'signup', name: 'signup' %>
          <%= link_to root_path, style: 'display: none', id: 'cancel' do %><button type="button" class="btn btn-default">Abbrechen</button><% end %>
          <p class="create-account"><sup><span class="glyphicon glyphicon-flash"></span></sup>Falls noch kein Spieler-Account vorhanden ist, einfach einen Spielernamen und ein Kennwort ausdenken. Damit man sich nicht jedes Mal anmelden muss, wird ein Cookie angelegt. Es wird wieder gelöscht, sobald man sich abmeldet.</p>
        <% else %>
          <%= f.button 'Speichern', class: 'btn btn-primary', id: 'signin', name: params['what'] == 'signup' ? 'signup' : 'signin' %>
          <%= link_to root_path, id: 'cancel' do %><button type="button" class="btn btn-default">Abbrechen</button><% end %>
        <% end %>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-danger"><%= render inline: value %></div>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-4">
    <% if signed_in? %>
    <table class="table">
      <colgroup>
        <col width="50%" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th class="right">Wörter</th>
          <th class="right">Punkte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="username"><%= @user.name %></td>
          <td id="cwords" class="right"><%= @cwords %></td>
          <td id="cpoints" class="right"><%= @cpoints %></td>
        </tr>
        <tr>
          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
    <div id="guesses">
      <% @guesses.each do |guess| %>
        <% if guess[1] > 0 %>
          <span id="word_<%= guess[0] %>"> <%= guess[0] %>:<%= guess[1] %></span>
        <% else %>
          <span id="word_<%= guess[0] %>" style="color: red"> <%= guess[0] %></span>
        <% end %>
      <% end %>
    </div>
    <div id="solutionheader" style="display: none"><hr class="row"/><span class="noone">&nbsp;keiner&nbsp;</span> &bull; <span class="someone">&nbsp;gefunden&nbsp;</span> &bull; <span class="self">&nbsp;von&nbsp;Dir&nbsp;</span> &bull; <span class="onlyself">&nbsp;nur&nbsp;von&nbsp;Dir&nbsp;</span><hr class="row"/></div>
    <div id="solution"></div>
    <% else %>
      <div itemscope itemtype="http://schema.org/WebApplication">
        <h3><span itemprop="applicationCategory"><span style="display: none;">Browser</span>Spiel</span>idee</h3>
        <div style="display:none" itemprop="keywords">Browserspiel online Multiplayer Boggle</div>
        <div style="display:none" itemprop="countriesSupported">DE</div>
        <p style="text-align: justify"><span class="sechzehn" itemprop="name">SECHZEHN</span> wurde durch Boggle inspiriert. <span itemprop="description">Finde innerhalb von drei Minuten mehr deutsche Wörter in einem 4x4 Buchstabenfeld als Deine Mitspieler.</span></p>
        <h3>Features</h3>
        <ul itemprop="featurelist">
          <li>Wörterbuch mit mehr als 1.1 Mio. Einträgen,</li>
          <li>mit Tastatur, Maus und Finger bedienbar,</li>
          <li>Rangliste,</li>
          <li>Berechnung der Spielstärke (<a href="http://de.wikipedia.org/wiki/Elo-Zahl">ELO-Zahl</a>),</li>
          <li>keine Installation (<span itemprop="browserRequirements">benötigt Javascript</span>), keine Kosten</li>
        </ul>
        <h3>Regeln</h3>
        <p style="text-align: justify">Die Buchstaben müssen eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. Und in einem Wort darf kein Buchstabenfeld mehrfach genutzt werden.</p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <table class="table">
      <colgroup>
        <col />
        <col width="50%" />
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th class="right">Wörter</th>
          <th class="right">Punkte</th>
        </tr>
      </thead>
      <tbody id="score"></tbody>
    </table>
  </div>
</div>
