<% html = (@words.map do |w| %>
    <% case w[3] %>
      <% when 0 then "<span class=\"noone\">#{w[0]}</span>" %>
      <% when 1 then "<span class=\"someone\">#{w[0]}</span>" %>
      <% when 2 then "<span class=\"self\">#{w[0]}</span>" %>
      <% else "<span class=\"onlyself\">#{w[0]}</span>" %>
    <% end %>
<% end).join(' ') %>
$('div#solution').html('<%= render inline: html %>')
$('td#cwords').html('<%= "#{@cwords} / #{@twords > 0 ? (100*@cwords/@twords).round(0) : 0}%" %>')
$('td#cpoints').html('<%= "#{@cpoints} / #{@tpoints > 0 ? (100*@cpoints/@tpoints).round(0) : 0}%" %>')
$('tbody#score').html('')
<% place = 0 %>
<% @scores.each_with_index do |score, i| %>
<% place = place + 1 if @scores[i-1]['sum'] != score['sum'] %>
$('tbody#score').append('<tr><td><%= place %>.</td><td><%= score['name'] %></td><td class="right"><%= "#{score['count']} / #{@twords > 0 ? (100*score['count'].to_i/@twords).round(0) : 0}%" %></td><td class="right"><%= "#{score['sum']} / #{@tpoints > 0 ? (100*score['sum'].to_i/@tpoints).round(0) : 0}%" %></td>')
<% end %>
