<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand', title: 'Ein Denkspiel für alle, die Boggle und Scrabble mögen' do %>
      <div class="navbar-brand-table text-justify">
        <h1>Sechzehn</h1>
        <!-- div class="navbar-brand-sub"><h2>Ein Wortspiel auf deutsch</h2></div-->
        <h2>Ein Wortspiel auf deutsch </h2>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sechzehn-navbar" aria-controls="sechzehn-navbar" aria-expanded="false" aria-label="Navigation umschalten">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="sechzehn-navbar">
      <ul class="nav">
        <% if @help.nil? %>
          <% if registered_user? %>
            <li class="nav-item">
              <%= link_to edit_user_path(current_user), class: 'nav-link', title: 'Kennwort und/oder Spielernamen ändern' do %>
                Nutzerdaten ändern
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to signout_path, class: 'nav-link', title: 'Abmelden und Cookies löschen', method: 'delete' do %>
                Abmelden
              <% end %>
            </li>
          <% else %>
            <% if signed_in? %>
              <li class="nav-item">
                <%= link_to signout_path, class: 'nav-link', title: 'Gaststatus aufgeben, und einen Spieler registrieren', method: 'delete' do %>
                  Spieler registrieren
                <% end %>
              </li>
            <% end %>
          <% end %>
          <li class="nav-item">
            <a href="http://blog.sechzehn.org" class="nav-link" title="Der Blog von Sechzehn">Blog</a>
          </li>
          <li class="nav-item">
            <%= link_to highscore_daily_path, class: 'nav-link', title: 'Tägliche, wöchentliche, monatliche und ewige Ranglisten' do %>
              Rangliste
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to help_path, class: 'nav-link', title: 'Die Regeln und Bedienung kurz erklärt' do %>
              Hilfe<sup></up><span class="badge badge-warning">Neu</span></sup> / Kontakt
            <% end %>
          </li>
          <li class="nav-item">
            <form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="W8E6WGUYY39LY">
              <button type="submit" class="donate" title="Spenden für Betrieb und Kosten von Datenbank und Webserver">Spenden <span class="pay">Pay</span><span class="pal">Pal</span></button>
              <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
            </form>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link', title: 'Zurück zum Spiel' do %>
              Spielen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

