<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sechzehn-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand', style: 'width: 180px; line-height: 14px; text-align: justify; margin-bottom: -20px; margin-top: -4px' do %>
        S E C H Z E H N <span style="font-size: 66%; word-break: keep-all">ein Wortspiel auf deutsch</span> <span style="visibility: hidden">sechzehn</span>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="sechzehn-navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if @help.nil? %>
          <% if registered_user? %>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                Nutzerdaten ändern
              <% end %>
            </li>
            <li>
              <%= link_to signout_path, method: 'delete' do %>
                Abmelden
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to highscore_elo_path do %>
              Rangliste
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
              Regeln / Kontakt
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              Spielen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


