<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sechzehn-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand', title: 'Ein Denkspiel für alle, die Boggle und Scrabble mögen' do %>
        <h1>Sechzehn</h1>
        <div class="subtitlewrapper">
          <h2>ein Wortspiel auf deutsch (Denkspiel)</h2>
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="sechzehn-navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if @help.nil? %>
          <% if registered_user? %>
            <li>
              <%= link_to edit_user_path(current_user), title: 'Kennwort und/oder Spielernamen ändern' do %>
                Nutzerdaten ändern
              <% end %>
            </li>
            <li>
              <%= link_to signout_path, title: 'Abmelden und Cookies löschen', method: 'delete' do %>
                Abmelden
              <% end %>
            </li>
          <% else %>
            <% if signed_in? %>
              <li>
                <%= link_to signout_path, title: 'Gaststatus aufgeben, und einen Spieler registrieren', method: 'delete' do %>
                  Spieler registrieren
                <% end %>
              </li>
            <% end %>
          <% end %>
          <li>
            <a href="http://blog.sechzehn.org" title="Der Blog von Sechzehn">Blog</a>
          </li>
          <li>
            <%= link_to highscore_eternal_path, title: 'Tägliche, wöchentliche, monatliche und ewige Ranglisten' do %>
              Rangliste
            <% end %>
          </li>
          <li>
            <%= link_to help_path, title: 'Die Regeln und Bedienung kurz erklärt' do %>
              Hilfe / Kontakt
            <% end %>
          </li>
          <li>
            <form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="W8E6WGUYY39LY">
              <button type="submit" class="donate" title="Spenden für Betrieb und Kosten von Datenbank und Webserver">Spenden <span class="pay">Pay</span><span class="pal">Pal</span></button>
              <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
            </form>
          </li>
        <% else %>
          <li>
            <%= link_to root_path, title: 'Zurück zum Spiel' do %>
              Spielen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


