<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sechzehn-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1>
      <%= link_to root_path, class: 'navbar-brand', style: "margin-top: -8px" do %>
        SECHZEHN<br /><div class="small" style="letter-spacing: -1px; word-spacing: 4px; margin-top: 2px; margin-bottom: -8px">ein Wortspiel auf deutsch</div>
      <% end %>
      </h1>
    </div>
    <div class="collapse navbar-collapse" id="sechzehn-navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if @help.nil? %>
          <% if signed_in? %>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                Nutzerdaten ändern
              <% end %>
            </li>
            <li>
              <%= link_to signout_path, method: 'delete' do %>
                Abmelden
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to highscore_elo_path do %>
              Rangliste
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
              Regeln / Kontakt
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              Spielen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


