<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sechzehn-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
      <h1 class="navbar-brand" style="display: table-cell; line-height: 16px; margin-bottom: -24px; margin-top: -4px">
        <span style="display: table-row; width: 1px"><span style="letter-spacing: 8px">SECHZEH</span>N </span>
        <span style="display: table-cell; width: 1px; font-size: 66%; text-align: justify;"><span style="white-space: nowrap">ein Wortspiel auf deutsch</span> <span style="visibility: hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
      </h1>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="sechzehn-navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if @help.nil? %>
          <% if registered_user? %>
            <li>
              <%= link_to edit_user_path(current_user), title: 'Kennwort und/oder Spielernamen ändern' do %>
                Nutzerdaten ändern
              <% end %>
            </li>
            <li>
              <%= link_to signout_path, title: 'Abmelden und Cookies löschen', method: 'delete' do %>
                Abmelden
              <% end %>
            </li>
          <% else %>
            <% if signed_in? %>
              <li>
                <%= link_to signout_path, title: 'Gaststatus aufgeben, und einen Spieler registrieren', method: 'delete' do %>
                  Spieler registrieren
                <% end %>
              </li>
            <% end %>
          <% end %>
          <li>
            <%= link_to highscore_elo_path, title: 'Tägliche, wöchentliche, monatliche und ewige Ranglisten' do %>
              Rangliste
            <% end %>
          </li>
          <li>
            <%= link_to help_path, title: 'Die Regeln und Bedienung kurz erklärt' do %>
              Hilfe / Kontakt
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path, title: 'Zurück zum Spiel' do %>
              Spielen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


