<!DOCTYPE html>
<html>
<head>
  <title>Sechzehn</title>
  <meta name="description" content="SECHZEHN ist ein von Boggle inspiriertes online Multiplayer Browserspiel. Finde innerhalb von drei Minuten mehr deutsche Wörter in einem 4x4 Buchstabenfeld als Deine Mitspieler." />
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
