<!DOCTYPE html>
<html lang="de">
<head>
  <title>Sechzehn<%= " - #{@subtitle}" unless @subtitle.nil? %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="5avFjpgG47OfcroItoOuARYs4SRsDyFJNcRRUQvS5Wg" />
  <meta name="msvalidate.01" content="00D5B887D59ECBE57165D33474142A47" />
  <meta name="norton-safeweb-site-verification" content="2a8yy1-n81rfw-bgk4u-u8b-8e0s6po8qdy8hsakhv52doqy331k2lg54444ewn5uqr3w5r4ng7pf6n0g6opb6nuayh7-as7135dtyenvhk-ng6uma9mn6ne8ktzz1iw" />
  <meta name="description" content="<%= @description %>" />
  <meta name="author" content="Marcus Petzoldt" />
  <meta name="keywords" content="sechzehn, deutsch, online, Wortspiel, Browserspiel, Multiplayer" />
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', 'media' => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% unless @canonical.nil? %>
    <link rel="canonical" href="<%= @canonical %>" />
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
