<!DOCTYPE html>
<html>
<head>
  <title>Sechzehn</title>
  <meta name="description" content="Ein Multiplayer Wortratespiel auf deutsch. Die Regeln sind denen von Boggle ähnlich. Finde innerhalb von drei Minuten so viele Wörter wie möglich." />
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
