<!DOCTYPE html>
<html lang="de">
<head>
  <title>Sechzehn<%= " - #{@subtitle}" unless @subtitle.nil? %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="google-site-verification" content="5avFjpgG47OfcroItoOuARYs4SRsDyFJNcRRUQvS5Wg" />
  <meta name="msvalidate.01" content="00D5B887D59ECBE57165D33474142A47" />
  <meta name="webutation-site-verification" content="webutation7b4a67ff91a4b9e9d89a90b0ce6e9386" />
  <meta name="description" content="<%= @description %>" />
  <meta name="author" content="Marcus Petzoldt" />
  <meta name="keywords" content="sechzehn, deutsch, online, Wortspiel, Browserspiel, Multiplayer" />
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% unless @canonical.nil? %>
    <link rel="canonical" href="<%= @canonical %>" />
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
